/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 23px;

}


.bar1,
.bar2,
.bar3 {
    width: 17px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    height: 24px;
    width: 24px;

}

.nav-shop-name {
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4.8px;
    line-height: 24px;
    text-align: center;
    text-decoration-color: rgb(32, 32, 32);

}


.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 44px;
}

.img-class {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.category h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    /* font-size: 1.3em; */
    font-weight: 500;
}

.category button {
    display: inline-block;
    border: 2px solid black;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    /* font-size: 1.3em; */
    font-weight: 500;
}

.T-shirt-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */


}

.category1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    margin-bottom: 40px;
}

.T-shirt-category button {
    display: inline-block;
    border: 2px solid black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    /* font-size: 1.3em; */
    font-weight: 500;

}

.T-shirt-category h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    /* font-size: 1.1em; */
    font-weight: 500;
}

/* Footer styling */
footer {
    text-align: center;
    /* border: 2px solid red; */
    line-height: 24px;
    margin-top: 20px;
}

.footer-div {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    margin-top: 8px;
    margin-left: 127.5px;
    margin-right: 127.5px;
    margin-bottom: 0px;
}

/* ----------------mens_outerwear-------------------------------- */
.mens_outerwear-header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 32px;
}

.grid-container li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;
    margin-left: 12px;
    margin-right: 12px;
}

.mo-img-class {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: 16px;
}

.title {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;

}

.price {
    font-size: 12px;
    color: gray;
}

/* -----------------------------product-details-page-------------- */
.pd-body {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.pd-price {
    margin-top: 12px;
    margin-bottom: 32px;
}

.pd-hr {
    border: none;
    height: 5px;
    background-color: black;

}



.pd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pd-img-container {
    display: flex;
    justify-content: center;
}

.pd-img-class {

    height: 300px;
    width: 300px;
    object-fit: cover;
}

.pd-h1 {
    font-size: 20px;
    line-height: 24px;
}

.pd-details {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.pd-size {
    padding-left: 70px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 47px;
    width: 327px;
    border: none;
    outline: none;
    background-color: transparent;

}

.pd-Label {
    position: absolute;
    display: block;
    height: 16px;
    font-size: 13px;
    line-height: 50px;
}

.description {
    margin-bottom: 50px;
}

.pd-h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.pd-ul {
    padding-left: 40px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.pd-add-to-cart {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

.pd-cart-button {
    padding: 20px;
    width: 100%;
    color: #fff;
    background-color: #172c50;
}